---
import InicioSesion from '../components/InicioSesion.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Iniciar Sesión">
  
  <div class="py-12 bg-gray-50">
    <InicioSesion />
  </div>
</Layout>