---
import CrearCuentaForm from '../components/CrearCuenta.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Crear Cuenta">
  
  <div class="py-12 bg-gray-50">
    <CrearCuentaForm />
  </div>
</Layout>