<footer class="bg-blue-950 text-gray-300 px-8 py-10">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 border-b border-gray-700 pb-8">
        <div>
            <div class="flex items-center space-x-3">
                <div class="bg-blue-900 text-white shadow-sm font-bold text-lg w-8 h-8 rounded-md flex items-center justify-center">N</div>
                <div>
                    <h2 class="text-lg font-semibold text-white">Nakom CAS</h2>
                    <p class="text-sm text-gray-400 leading-none">Computer Assembly Services</p>
                </div>
            </div>
            <p class="mt-4 text-gray-400 text-sm">Crea a tu futuro colega de trabajo o tu compañero de aventuras</p>
        </div>

        <div>
            <h3 class="text-white text-center font-semibold mb-3">Enlaces Rapidos</h3>
            <ul class="space-y-2 text-center">
                <li><a href="/#" class="hover:text-gray-400 transition-colors">Inicio</a></li>
                <li><a href="/#" class="hover:text-gray-400 transition-colors">Proceso</a></li>
                <li><a href="/#" class="hover:text-gray-400 transition-colors">Configurador</a></li>
                <li><a href="/#" class="hover:text-gray-400 transition-colors">Contacto</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-white font-semibold mb-3 text-center">Equipo</h3>
            <ul class="space-y-2 text-center">
                <p class="hover:text-gray-400 transition-colors">Daniel de Jesus Balam Pech</p>
                <p class="hover:text-gray-400 transition-colors">Jairo Gerardo Espinoza Tec</p>
                <p class="hover:text-gray-400 transition-colors">Pablo Jonathan Dzul Verde</p>
                <p class="hover:text-gray-400 transition-colors">Luis Angel Nahuat Tah</p>
            </ul>
        </div>
    </div>

    <div class="max-w-6xl mx-auto text-center mt-6 text-sm text-gray-500">
        © 2025 Nakom Computer Assembly Services. Todos los derechos reservados.
    </div>
</footer>
