---
import User from "./User.astro"
---

<header class="flex justify-between items-center px-8 py-3.5 bg-white shadow-sm">
  <div class="flex flex-wrap gap-2">
    <a href="/#">
      <div class="bg-blue-900 text-white font-bold text-lg w-8 h-8 rounded-md flex items-center justify-center mt-2">
        N
      </div>
    </a>
    <div>
      <h1 class="text-lg font-semibold text-gray-900">
        <a href="/#">Nakom CAS</a>
      </h1>
      <p class="text-sm font-medium text-gray-800 -mt-1">
        <a href="/#">Computer Assembly Services</a>
      </p>
    </div>
  </div>
  <nav class="text-lg flex space-x-5">
    <a href="/#" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors mt-1">Inicio</a>
    <a href="/Configuration" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors mt-1">Configuración</a>
    <a href="/Contact" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors mt-1">Contacto</a>
    <User client:load/>
  </nav>
</header>