<header class="flex justify-between items-center px-8 py-3 bg-white shadow-sm">
  <div class="flex flex-wrap gap-2">
    <div class="bg-blue-900 text-white font-bold text-lg w-8 h-8 rounded-md flex items-center justify-center mt-2">
      N
    </div>
    <div>
      <h1 class="text-lg font-semibold text-gray-900">Nakom CAS</h1>
      <p class="text-sm font-medium text-gray-800">Computer Assembly Services</p>
    </div>
  </div>
  <nav class="text-lg flex space-x-5">
    <a href="/#" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors">Inicio</a>
    <a href="/Configuration" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors">Configuracion</a>
    <a href="/#" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors">Contacto</a>
    <a href="/#" class="font-semibold text-gray-800 hover:text-gray-400 transition-colors">Otro</a>
  </nav>
</header>