<section class="relative bg-linear-to-br from-gray-900 via-gray-800 to-gray-900 overflow-hidden">

    <div class="max-w-7xl mx-auto px-6 pt-30 pb-10 text-center">
        <h1 class="text-7xl text-gray-100 font-bold mb-6">Nakom Computer Assembly Services</h1>
        <h2 class="text-3xl text-blue-100 font-semibold mb-6">Crea a tu futuro colega de trabajo o tu compañero de aventuras</h2>
        <p class="text-1xl text-gray-100 mb-8 max-w-lg mx-auto">Nakom CAS ayuda a las personas a obtener la computadora ideal sin necesidad de conocimientos técnicos</p>
        <button class="text-2xl font-semibold text-gray-300 bg-blue-800 hover:bg-blue-900 rounded-md px-2 py-3 transition-colors duration-300"><a href="/Configuration">Comienza tu configuracion</a></button>
        <a href="#About" class="transitions-colors">
            <img src="/public/img/flecha.png" class="invert w-15 h-15 animate-bounce mx-auto mt-12">
        </a>
    </div>
</section>  